<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head')%>
    <title>Error</title>
</head>
<body>
    <%- include('../layout/header')%>


    <h1>Error</h1>
    <p> <%=error.error %> </p>

    <%- include('../layout/footer')%>
</body>
</html>