<footer>
    <ul>
    <li><i class="fab fa-instagram"></i></li>
    <li><i class="fab fa-twitter"></i></li>
    <li><i class="fab fa-facebook-f"></i></li>
    <li><i class="fas fa-envelope"></i></li>
    </ul>
</footer>